body{

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;


}



header{

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    width: 100%;


}


footer{


    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    width: 100%;
}


main{
display: flex;
justify-content: center;
align-items: center;
position: relative;
transition: left 0.5s ease-in-out;
left: 0%;

    width: 100%;
}

.TooDoList{
    
    border-radius: 3%;

display: grid;
position: relative;


/*
grid-column-start: ;
grid-column-end: ;
grid-row-start: ;
grid-row-end: ; */

grid-template-columns: 100% ;
grid-template-rows:   25% 32% 32% 8% ;








gap: 5px;
max-width: 450px;
width: 40%;
height: 80%;

overflow: hidden;
background-color: burlywood;


}



h1{

    font-size: 55px;
    
    
    
    }

button{
    font-size: 35px;
}


h3{


    font-size: 25px;

    margin-bottom: 5px;
    margin-top: 5px;

}


table{

    
    font-size: 25px;
}



.TextBox{

    display: flex;
    justify-content: center; /* Elemente am linken Rand ausrichten */
  align-items: center; /* Elemente in der Mitte vertikal ausrichten */
    width: 65%;
    margin-top: 5px;
    margin-bottom: 5px;
    gap: 5px;

}


.TextCon{
    position: relative;
    left: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow: hidden;
    overflow-y: scroll;
    margin-top: 5px;
    margin-bottom: 5px;
    transition: left 0.5s ease-in-out;



}


.Text{

margin-left: 5%;


}


.Datum{


margin-left: 35%;

}


.Tag-con{

display: flex;
justify-items: center;
align-items: center;

position: absolute;
left: 100%;
top: 25%;
flex-direction: column;
max-width:  390px;
width: 100%;
max-height: 466px;
height: 100%;
transition: left 0.5s ease-in-out;





}

h4{font-size: 25px;}

.add-con{
    display: flex;
    align-items: center;
    justify-content: center;
position: absolute;
left: 0%;
top: 110%;
background-color: aqua;
width: 100%;
max-width: 100%;
height: 50%;
border-radius: 3%;

transition: top 0.5s ease-in-out;
}

.imgClose{
    position: absolute;
    right: 1%;
    top: 1%;
    cursor: pointer;
    
    
}


#add-img{

    cursor: pointer;

    


}